@import "compass";
@import "compass/reset";
@import "../libs/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "variables";
@import "mixins";

html {
  font-size: 14px;
}

body {
  //  background-color: #CCC;
  font-family: $font-family;
}

h1, h2, h3, h4, h5 {
  color: $primary-color;
}

.header + .container-fluid {
  margin-top: 100px;
}

div[class^='container'] {
  //  background-color: $section-background;
  &.no-padding {
    padding: 0;
  }
}

.np {
  margin: 0 -15px;
}

#secondary {
  .widget {
    word-wrap: break-word;
  }
}

#sidebar {
  background-color: $sidebar-bg-color;
  h1 {
    color: lighten($sidebar-bg-color, 25);
  }
  a {
    color: invert($sidebar-bg-color);
  }
}

.widget {
  //  background-color: lightsteelblue;
}

// * * * * * * * //
//  Site Header  //
// * * * * * * * //
.header {
  background: rgba(26, 26, 26, .25);
  color: $nav-font-color;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  @include transition(background-color .7s ease);
  .site-header {
    @include clearfix;
    height: 65px;

    a {
      color: $nav-link-color;
    }
    .site-branding {
      width: auto;
      float: left;
      @extend %vertical-align;
      .site-title {
        font-size: 2rem;
        margin: 0;
      }
    }
  }
  &.darken {
    background-color: rgba(26, 26, 26, .9);
  }
}

// * * * * * * * //
//  Site Footer  //
// * * * * * * * //

.site-footer {
  border-top: 3px solid red;
  padding-top: 30px;
  padding-bottom: 30px;
}

// * * * * * * * //
//   Navigation  //
// * * * * * * * //

.main-navigation {
  width: auto;
  clear: none;
  float: right;
  @extend %vertical-align;
  text-transform: uppercase;

  li.page_item, li.menu-item {
    margin-left: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 0px 3px;
    font-size: 1.5rem;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    @include transition(.5s border-top ease, .5s border-bottom ease);
    &:hover {
      border-top: 1px solid $nav-font-color;
      border-bottom: 1px solid $nav-font-color;
    }
    &:first-child {
      margin-left: 0px;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  ul.children, ul.sub-menu {
    background-color: #FFF;
    a {
      color: #000;
    }
  }
}

img.hero {
  width: 100%;
}

.home {
  .entry-header {
    display: none;
  }
  .header + .container-fluid, .entry-content {
    margin-top: 0px;
  }
}

.hero-container {
  position: relative;
  .hero {
    //    position: absolute;
  }
  .hero-message {
    position: absolute;
    bottom: 50px;
    right: 50px;
    h1 {
      margin: 0;
    }
  }
}

.opt-in {
  background-color: $primary-color;
  color: white;
  font-size: 1.4rem;
  padding: 20px 30px;

  form {
    display: inline-block;
    float: right;

    label {
      vertical-align: middle;
      margin-right: 7px;
      margin-bottom: 0;
    }

    input[type=text] {
      vertical-align: middle;
      font-size: 1rem;
      @include border-radius(0px);
      outline: none;
      font-family: $arial-family;
      margin-right: 14px;
    }

    input[type=submit] {
      vertical-align: middle;
      color: $primary-color;
      background-color: white;
      @include box-shadow(none);
      border: 0;
      @include border-radius(1000px);
      font: {
        size: 1.2rem;
        family: $arial-family;
      }
    }
  }
}

.work-with {
  position: relative;
  background-color: #0039ba;
  @include clearfix;

  height: 500px;
  @include box-shadow(inset 0 8px 25px -8px rgba(0, 0, 0, .7), inset 0 -8px 25px -8px rgba(0, 0, 0, .7));
  .profile-pic {
    @extend %vertical-align;
    float: left;
    margin: 0 8%;
    > img {
      display: inline-block;
      width: 400px;
      height: 400px;
      @include border-radius(1000px);

    }
  }
  .copy {
    @extend %vertical-align;
    margin-right: 8%;
    h2 {
      color: white;
      text-align: center;
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
      color: $nav-link-color;
      text-align: center;
    }
    overflow: hidden;
  }
  a.learnmore{
    width: 200px;
    text-align: center;
    font-size: 2rem;
    display: inline-block;
    padding: 7px 10px;
    background-color: darkgoldenrod;
    color: white;
    position: absolute;
    margin-left: (-200px/2);
    left: 50%;
    bottom: -25px;
    z-index: 30;
    @include transition(all .25s ease);
    &:hover{
      @include single-box-shadow(0, 6px, 2px, -3px, rgba(0,0,0,0.4));
      text-decoration: none;
      background-color: darken(darkgoldenrod, 5);
      @include scale(1.05);
    }
  }
}

.latest_posts {
  > div {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .data-holder{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(30,30,30,.75);
      padding: 7px 10px;
      h3, h4, span.date{
        margin-top: 0;
        margin-bottom: 4px;
        color: #FFF;
      }
    }
  }
}
