// * * * * * * * * //
// * * COLOURS * * //
// * * * * * * * * //

$section-background: #FFF;
$font-color: #000;
$nav-bg-color: rbga(0, 0, 0, .5);
$nav-font-color: #CCC;
$nav-link-color: #FFF;
$sidebar-bg-color: #333;

$primary-color: #ba002c;

// * * * * * * * //
// * * FONTS * * //
// * * * * * * * //

$font-family: 'Unna', 'PT Serif', serif;
$font-family1: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$arial-family: helvetica, arial, sans-serif;
